[Unit]
Description=Podman MODULE_ID-promtail.service
BindsTo=MODULE_ID.service
After=MODULE_ID.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/var/lib/nethserver/MODULE_ID/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/MODULE_ID-promtail.pid %t/MODULE_ID-promtail.ctr-id
ExecStart=/usr/bin/podman run \
    --conmon-pidfile %t/MODULE_ID-promtail.pid \
    --cidfile %t/MODULE_ID-promtail.ctr-id \
    --cgroups=no-conmon \
    --pod-id-file %t/MODULE_ID.pod-id \
    --replace -d --name MODULE_ID-promtail \
    --volume /var/lib/nethserver/MODULE_ID/state/promtail.yml:/etc/promtail/config.yml:z \
    --network=host \
    ${PROMTAIL_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/MODULE_ID-promtail.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/MODULE_ID-promtail.ctr-id
PIDFile=%t/MODULE_ID-promtail.pid
Type=forking

[Install]
WantedBy=default.target
