
[Unit]
Description=Podman MODULE_ID-ui.service
BindsTo=MODULE_ID.service
After=MODULE_ID-api.service
Requires=MODULE_ID-api.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/var/lib/nethserver/MODULE_ID/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/MODULE_ID-.pid %t/MODULE_ID-ui.ctr-id
ExecStart=/usr/bin/podman run \
    --conmon-pidfile %t/MODULE_ID-ui.pid \
    --cidfile %t/MODULE_ID-ui.ctr-id \
    --cgroups=no-conmon \
    --pod-id-file %t/MODULE_ID.pod-id \
    --replace -d --name MODULE_ID-ui \
    --network=host \
    --env-file=/var/lib/nethserver/MODULE_ID/state/network.env \
    ${NEXTSEC_UI_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/MODULE_ID-ui.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/MODULE_ID-ui.ctr-id
PIDFile=%t/MODULE_ID-ui.pid
Type=forking

[Install]
WantedBy=default.target
