[Unit]
Description=Podman MODULE_ID.service
Requires=MODULE_ID-vpn.service MODULE_ID-api.service MODULE_ID-ui.service MODULE_ID-proxy.service
Before=MODULE_ID-vpn.service MODULE_ID-api.service MODULE_ID-ui.service MODULE_ID-proxy.service
ConditionPathExists=/var/lib/nethserver/MODULE_ID/state/environment
ConditionPathExists=/var/lib/nethserver/MODULE_ID/state/network.env

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/var/lib/nethserver/MODULE_ID/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/MODULE_ID.pid %t/MODULE_ID.pod-id
ExecStartPre=/usr/bin/podman pod create \
    --infra-conmon-pidfile %t/MODULE_ID.pid \
    --pod-id-file %t/MODULE_ID.pod-id \
    --name MODULE_ID \
    --network=host \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/MODULE_ID.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/MODULE_ID.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/MODULE_ID.pod-id
PIDFile=%t/MODULE_ID.pid
Type=forking

[Install]
WantedBy=default.target
