[Unit]
Description=Podman grafana.service
BindsTo=controller.service
After=promethus.service
After=loki.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/grafana.pid %t/grafana.ctr-id
ExecStart=/usr/bin/podman run \
    --conmon-pidfile %t/grafana.pid \
    --cidfile %t/grafana.ctr-id \
    --cgroups=no-conmon \
    --pod-id-file %t/controller.pod-id \
    --replace -d --name grafana \
    --volume grafana-storage:/var/lib/grafana:z \
    --volume=%S/state/local.yml:/etc/grafana/provisioning/datasources/local.yml:z \
    --volume=%S/etc/dashboards.yml:/etc/grafana/provisioning/dashboards/dashboards.yml:z \
    --volume=%S/etc/dashboards/:/etc/grafana/dashboards:z \
    --network=host \
    --env-file=%S/state/grafana.env \
    ${GRAFANA_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/grafana.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/grafana.ctr-id
PIDFile=%t/grafana.pid
Type=forking

[Install]
WantedBy=default.target
