[Unit]
Description=Podman prometheus.service
BindsTo=controller.service
After=vpn.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=%S/state/prometheus.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/prometheus.pid %t/prometheus.ctr-id
ExecStartPre=runagent expand-prometheus-config
ExecStart=/usr/bin/podman run \
    --conmon-pidfile %t/prometheus.pid \
    --cidfile %t/prometheus.ctr-id \
    --cgroups=no-conmon \
    --pod-id-file %t/controller.pod-id \
    --replace -d --name prometheus \
    --volume=%S/state/prometheus.yml:/prometheus/prometheus.yml:z \
    --volume=prometheus-data:/prometheus:z \
    --network=host \
    ${PROMETHEUS_IMAGE} --web.listen-address=127.0.0.1:${PROMETHEUS_PORT} --web.external-url=${PROMETHEUS_PATH} --storage.tsdb.retention.time=${PROMETHEUS_RETENTION}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/prometheus.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/prometheus.ctr-id
PIDFile=%t/prometheus.pid
Type=forking

[Install]
WantedBy=default.target