name: Update controller package

# **What it does**: Every nigth, at midnight checks if a new version of nethsecurity-controller is available.
# **Why we have it**: To avoid manually updating the package.
# **Who does it impact**: build-images.sh and the UI_COMMIT value

on:
  workflow_dispatch:

  schedule:
    - cron:  "0 0 * * *"

jobs:
  update-package:
    name: Update nethsecurity-controller package

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Update apt
        run: sudo apt update
      - name: Install deps
        run: sudo apt-get install -y curl jq git
      - name: Check if new UI commit is different
        run: |
          NEW_TAG=$(curl https://api.github.com/repos/NethServer/nethsecurity-controller/tags | jq -r .[0].name)
          sed -i "s/controller_version=.*/controller_version=\"$NEW_TAG\"/g" build-images.sh
      - name: Commit and create PR
        uses: peter-evans/create-pull-request@v7
        with:
          title: 'build(deps): Update nethsecurity-controller package (automated)'
          branch: 'build-update-nethsecurity-controller-package-automated'
          commit-message: 'build(deps): nethsecurity-controller package: update nethsecurity-controller package (automated)'
          base: main
